PORT=
MONGO_DB_URI=
PRODUCTION=
DEVELOPMENT=
CURRENT_ENV=
JWT_SECRET_PRODUCTION=
JWT_SECRET_DEVELOPMENT=
NAME_OF_TOKEN=
MAX_AGE_OF_TOKEN=
MAX_AGE_OF_COOKIE=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_BASE_URL=
EMAIL_API_KEY=
APP_PASSWORD=
APP_EMAIL=
APP_RESET_PASSWORD_URL=
APP_AUTH_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=